<link href="header-nav.component.css" rel="stylesheet">
<body>
    <header class="cabeza">
        <div class="logo">
            <div>
                <p class="name">Karla Espino</p>
                <p class="desc">Dise&ntilde;adora multimedia &nbsp; | &nbsp; Artista digital</p>
            </div>
        </div>
        <div class="navegador">
            <nav class="text">
                <a>Portafolio</a>
                <a>Comisionar</a>
                <a>Acerca de m&iacute;</a>
                <a>Sesi&oacute;n</a>
            </nav>
        </div>
    </header>
</body>
