<link href="footer-social.component.css" rel="stylesheet">
<body>
    <footer class="pata">
        <div class="icons">
            <a class="img-insta" href="https://www.facebook.com/?locale=es_LA"><img src="/BRUNO/Portafolio/src/assets/insta.png"/></a>
            <a class="img-face" href="https://www.instagram.com"><img src="/BRUNO/Portafolio/src/assets/face.png"/></a>
            <a class="img-x" href="https://twitter.com/home?lang=es"><img src="/BRUNO/Portafolio/src/assets/x.png"/></a>
        </div>
    </footer>
</body>